/* For Mobile */
.col-xs-1 {width: 8.33%;}
.col-xs-2 {width: 16.66%;}
.col-xs-3 {width: 25%;}
.col-xs-4 {width: 33.33%;}
.col-xs-5 {width: 41.66%;}
.col-xs-6 {width: 50%;}
.col-xs-7 {width: 58.33%;}
.col-xs-8 {width: 66.66%;}
.col-xs-9 {width: 75%;}
.col-xs-10 {width: 83.33%;}
.col-xs-11 {width: 91.66%;}
.col-xs-12 {width: 100%;}

.nav .left-list {       
    margin-left: 2%;
}
.nav .right-list {       
    margin-right: 2%;
}
.nav {
    background-color: #556270;
    height: auto;       
}
.nav ul li {     
    padding: 25px 12px;
    font-size: 2vw;
}  
.nav ul li a { 
    color: white;
}

.banner {        
    height: 250px;
    border-bottom: 2px solid #ddd;
}
.banner img {
    display:none;
}

.banner h1 {
    color: black;
}

.banner p {
    color:  #6b6b47;
}

.txt-banner {
    left: 3%;    
}

.content-wrap {
    background-color: white;
}

.banner {
    height: 330px;
}
.txt-banner {
    left: 6%;
    top: 6%;   
}
.txt-banner h1 {
    font-size: 12vw;
    line-height: 12vh;
}
.txt-banner p {
    font-size: 4vw;
    line-height: 7vh;
}
.content-wrap .txt-content {
    font-family: serif;      
    overflow: hidden;
}
.content-wrap h2 {
    font-size: 11vw;
    line-height: 16vh;
    color: #000;
}
.content-wrap p {
    color:  #6b6b47;
    font-size: 4vw;
    line-height: 9vh;
}
.content-wrap p, .content-wrap h2 {
    margin-left: 6%;    
}
.image-content::after, .col {
    content: "";
    clear: both;
    display: table;
}
.image-content .col {
    min-width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.image-content .col img{
    width: 87.33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 0;
}

.footer {     
    max-width: 100%;     
    overflow: hidden;   
    background-color: white;
}
.footer .col {
    margin-left: 4%;
    width: 100%;
}

.col p {
    margin-top: 40px;
}

@media only screen and (max-width: 430px) and (max-width: 767px) {
	.nav ul.list-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
